site/bootstrap/compiled.php
site/vendor
site/layout/images
site/layout/Cópia_de_segurança_de_obras publicas ja.cdr
site/composer.phar
site/composer.lock
site/.env.*.php
site/.env.php
.DS_Store
Thumbs.db

crawler/.gradle/
crawler/build/
